language: cpp

compiler:  
    - gcc
    - clang

before_script:  
    - sudo add-apt-repository -y ppa:ogre-team/ogre
    - sudo apt-get update -qq
    - sudo apt-get install -y libogre-dev libois-dev
    - sudo apt-get install -y libopenal-dev libogg-dev libvorbis-dev
    - mkdir build
    - cd build
    - cmake ..

script: make
